<div class="page amazon-page">

	<section class="filters">
		<%= form_tag("/amazon", method: "get", action: 'index') do %>
		  <%= label_tag(:amazon_search, "Search for:") %>
		  <%= text_field_tag(:amazon_search) %>
		  <%= submit_tag("Search") %>
		<% end %>	
	</section>

	<section class="display">
					<% if @res != nil %>
						<% @res.items.each do |item| %>
							<div class="amazon-return">
								<div class="amazon-img"><img src="<%= item.get('MediumImage/URL') %>"></div>
								<div class="amazon-title"><%= item.get('ItemAttributes/Title') %></div>
								<div class="amazon-price"><%= item.get('Offers/Offer/OfferListing/Price/FormattedPrice') %></div><br><br>
								<div class="amazon-go btn"><a href='<%= item.get ('DetailPageURL') %>'>Shop Now</a></div>
							</div>
						<% end %>
					<% end %>
	</section>

</div>