<div class="page amazon-page">
	<div class="sport-header">
		Gear up below!
	</div>
	<section class="filters">
		<h4>Useful Filters <i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-times" aria-hidden="true"></i></h4>

		<div id="amazon-form">
			<%= form_tag("/amazon", method: "get", action: 'index') do %>
				<div id="filter-list">
					<select class="filter sport-filter" name="Sport">
						<option value="">Sport</option>
						<option value=""></option>
						<% @sports.each do |sport| %>
							<option value="<%= sport.name %>"><%= sport.name %></option>
						<% end %>
					</select>

					<select class="filter position-filter" name="Position">
						<option value="">Position</option>
						<option value=""></option>
						<% @positions.each do |position| %>
							<option value="<%= position.name %>"><%= position.sport.name %> - <%= position.name %></option>
						<% end %>
					</select>

					<select class="filter gender-filter" name="gender">
						<option value="">Gender</option>
						<option value=""></option>
						<option value="womens">Female</option>
						<option value="mens">Male</option>
					</select>

					<select class="filter age-filter" name="age">
						<option value="">Age</option>
						<option value=""></option>
						<option value="toddler"> < 5 years</option>
						<option value="kids">5-13 years</option>
						<option value="adult">14+ years</option>
					</select>

					<select class="filter item-filter" name="item">
						<option value="">Item</option>
						<option value=""></option>
						<option value="socks">Socks</option>
						<option value="shoes">Shoes</option>
						<option value="shorts">Shorts</option>
						<option value="shirt">Shirts</option>
						<option value="hat">Hats</option>
					</select>
				</div>
				<hr />
				<%= label_tag(:amazon_search, "Search for:") %>
				<br>
				<%= text_field_tag(:amazon_search) %><i class="fa fa-times-circle" aria-hidden="true"></i>
				<br>
				<br>
				<%= submit_tag("Search", :class=>"btn-amazon") %>
			<% end %>
		</div>
	</section>

	<section class="display">
		<% if @res != nil %>
		<% @res.items.each do |item| %>
		<div class="amazon-return">
			<div class="amazon-img"><img src="<%= item.get('MediumImage/URL') %>"></div>
			<div class="amazon-title"><%= item.get('ItemAttributes/Title') %></div>
			<div class="amazon-price"><%= item.get('Offers/Offer/OfferListing/Price/FormattedPrice') %></div>
			<br>
			<br>
			<div class="amazon-go btn"><a href='<%= item.get ('DetailPageURL') %>'>Shop Now</a></div>
		</div>
		<% end %>
		<% end %>
	</section>
</div>