<div class="page sport-show-page">
	<section class="sports-nav">
		<div class="sports-nav-bar">
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%= @sport.name %>
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<% @sports.each do |sport| %>
						<li><a href="/sports/<%= sport.id %>"><%= sport.name %></a></li><br>
					<% end %>
				</ul>
			</div>
		</div>
		<a href="#"><h2 id="overview">Overview</h2></a>
		<a href="#"><h2 id="rules">Rules</h2></a>
		<a href="#"><h2 id="garb">Garb</h2></a>
		<a href="#"><h2 id="gear">Gear</h2></a>
		<a href="#"><h2 id="sport-news">News</h2></a>
	</section>
	<section class="sports-content">
		<header>
			<h2><%= @sport.name %> - </h2>
		</header>
		<div class="sports-main-image">
			<img src="<%= @sport.image %>">
		</div>
		<div id="render-place" data-no-turbolink>
			<%= render 'shared/rules' %>
			<%= render 'shared/overview' %>
			<%= render 'shared/garb' %>
			<%= render 'shared/gear' %>
		</div>
	</section>
</div>