<%= link_to '<< Back to Admin Profile', admin_path %>
<br>
<br>
<h3>Approved Queries</h3>
<% @queries.each do |query| %>
	<% if query.approved == true %>
		
		<%= query.title %> <%= link_to 'Edit Query', edit_query_path(query)%><br>
	<% end %>
<% end %>

<h3>Queries waiting for approval</h3>
<% @queries.each do |query| %>
	<% if query.approved != true %>
		<%= query.title %> <%= link_to 'Approve/Edit Query', edit_query_path(query)%><br>
	<% end %>
<% end %>
