<section class="admin-forms-list">
	<h2 class="new new-answer">New Answer</h2>
	<h2 class="new new-garb">New Garb</h2>
	<h2 class="new new-gear">New Gear</h2>
	<h2 class="new new-question">New Question</h2>
	<h2 class="new new-quiz">New Quiz</h2>
	<h2 class="new new-rule">New Rule</h2>
	<h2 class="new new-sign">New Sign</h2>
	<h2 class="new new-sport">New Sport</h2>
</section>

<section class="admin-forms-display">
	<%= render 'shared/newanswer' %>
	<%= render 'shared/newgarb' %>
	<%= render 'shared/newgear' %>
	<%= render 'shared/newquestion' %>
	<%= render 'shared/newquiz' %>
	<%= render 'shared/newrule' %>
	<%= render 'shared/newsign' %>
	<%= render 'shared/newsport' %>
</section>
