<div class="page forum-page">

	<div id="query-list">
		<% @queries.each do |q| %>
			<a href="/queries/<%=q.id%>"><%= q.title %></a>
		<% end %>
		
	</div>


	<div id="sidebar">
		<h3>Want to start a conversation? Ask a question below and our coaches will get back to you!</h3>
		<div class="query-form">
		<%= semantic_form_for @query do |f| %>
		  <%= f.inputs do %>
		    <%= f.input :title, label: 'Subject' %>
		    <%= f.input :body, label: 'Question', input_html: { rows: 10 } %>
		  <% end %>
		  
		  <%= f.actions do %>
		    <%= f.action :submit, :as => :input %>
		  <% end %>

		<% end %>
		</div>
	</div>







</div>