<div class="page forum-page">

	<div id="query-list">
		<h2>Ongoing Conversations</h2>
		<hr />
		<% @queries.each do |q| %>
			<% if q.approved == true %>
				<div class="query-index">
					<a href="/queries/<%=q.id%>" class="query-title"><%= q.title %></a>
					<em>
						<% if q.comments.length == 1 %>
							(<%= q.comments.length %> response)
						<% else %>
							(<%= q.comments.length %> responses)
						<br>
					<% end %>
					</em>
					<hr />
					</div>
			<% end %>
		<% end %>
	</div>

 <% if current_member != nil%>
	<div id="sidebar">
		<h4>Want to start a conversation? Ask a question below and our coaches will get back to you!</h4>
		<div class="query-form">
		<%= semantic_form_for @query do |f| %>
		  <%= f.inputs do %>
		  	<%= f.input :user_id, as: :hidden %>
		    <%= f.input :title, label: 'Subject' %>
		    <%= f.input :body, label: 'Question', input_html: { rows: 10 } %>
		    <%= f.input :sport_id, as: :select, collection: Sport.pluck(:name), label: 'Pick a sport(optional)' %>
		  <% end %>
		  
		  <%= f.actions do %>
		    <%= f.action :submit, :as => :input %>
		  <% end %>

		<% end %>
		</div>
	</div>
<% end %>






</div>