<div class="partial quizp">
	<h2>Quiz Yourself</h2>
	<div class="quizlet">
		<div id="your-score"></div>
		<%= form_tag('/check', :id => 'quiz-form', remote: true) do %>
			<% @questions.each do |q| %>
				<div class="grading"><p class="question-body"> <%= q.body %></p>
					<% q.answers.each do |a| %>
						<article class="answer">
							<% if a.correct == true %>
								<%= radio_button_tag("question_#{q.id}", "#{a.correct}")%>
								<%= label_tag("question_#{q.id}_#{a.correct}", "#{a.body}") %>
							<% else %>
								<%= radio_button_tag("question_#{q.id}", "#{a.correct}") %>
								<%= label_tag("question_#{q.id}_#{a.correct}", "#{a.body}") %>
							<% end %>
						</article>
					<% end %>
				</div>
			<% end %>
		<% end %>
		<button id="submit-thing" class="btn btn-primary">Check Answers</button>
	</div>
</div>



