<!DOCTYPE html>
<html>
<head>
  <title>Moms Sports Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "My Application" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Learn Rails" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
</head>
<body>
	<p><%= notice %></p>
	<p><%= alert %></p>
	<header id="logo">
		<a href="/" class="logo"><h2>Moms <br>Sports <br>Network</h2></a>
	</header>
	<% if current_member != nil && current_member.admin == true %>
	<%= link_to 'Admin Portal >>', '/admin/new', :class => 'admin-link' %>
	<% end %>
	<nav id="main-nav">
		<ul>
			<li><%=link_to 'Home', root_path, :class => 'fill' %></li>
			<li><%=link_to 'About', about_path, :class => 'fill'  %></li>
			<li><%= link_to 'Amazon', amazon_index_path, :class => 'fill'  %></li>
			<li><%=link_to 'Sports', sports_path, :class => 'fill'  %></li>
			<li><%=link_to 'News', news_index_path, :class => 'fill'  %></li>
			<li id="last-item"><%=link_to 'Forum', forum_path %></li>
			<% if current_member == nil %>
			<li><%=link_to 'Sign Up', new_member_registration_path, :class => 'fill'  %></li>
			<li><%=link_to 'Sign In', new_member_session_path, :class => 'fill'  %></li>
			<% else %>
			<li><%=link_to 'Log Out', destroy_member_session_path, method: :delete, :class => 'fill'  %></li>
			<% end %>
		</ul>
	</nav>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
